<footer class="text-center ">
  <div class="container d-flex justify-content-center p-3">
    <h1 class="footer-logo fs-1">Bookie</h1>
  </div>

  <!-- Copyright -->
  <div class="text-center text-light pb-3">
    © Copyright 2024 |
    <span class="footer-logo">Bookie</span> Dev Team
  </div>
  <!-- Copyright -->
</footer>
