<h1 class="poppins-regular login text-center">LOGIN</h1>

    <div>
        <p class="montserrat-regular">Username:
            <input type="username" class="loginInput" style="font-size: 30px;width: 395px;height: 55px; background-color: #BAB9FD;
            opacity: 77%;">
        </p>
        <p class="montserrat-regular">Password:
            <input type="password" class="loginInput" style="font-size: 30px;width: 395px;height: 55px; background-color: #BAB9FD;
            opacity: 77%;">
        </p>

        <button type="submit" class="montserrat-regular">Login</button>
    </div>