<% if (alert) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= alert %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% categories.forEach(category => { %>
<form
  action="/updateCate/<%= category.categoryId %>"
  method="POST"
  class="row g-3 needs-validation"
  novalidate
>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="name" class="form-label">Category Name</label>
      <input
        type="text"
        class="form-control"
        id="category_name"
        name="categoryName"
        value="<%= category.categoryName %>"
      />
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
<% }) %>
